.app{
    padding: 1% 5% 0px 5%;
    direction: rtl;
    font-family: sans-serif;
    h1{
        color: darkblue;   
        font-size: 35px;
        margin-bottom: 0px;
    }
    h5{
        color: #ccc;
        margin-top: 5px;
        font-size: 18px;
    }
    .content-container{
        // height: 800px;
        display: grid;
        grid-template-columns: 30% 70%;
        grid-template-rows: 1fr;
        margin-bottom: 40px;
    }

    .items-container{
        padding: 0px 1%;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 20px;
        width: 100%;
    }
}