.footer{
    height: 200px;
    background-color:#363636;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1% 5%;
    color: white;

    .footer-container{
        margin: 0 auto;
        div{
            margin-bottom: 10px;
        }
        .footer-newsletter{
            display: flex;
            flex-direction: column;
            p{
                margin: 0;
            }
        }
    }
}

.footer-newsletter-input{
    display: flex;
    border: 1px solid #ccc;
    border-radius: 20px;
    justify-content: space-between;
    margin-top: 10px;
    width: 450px;
    

    div{
        background: linear-gradient(90deg, rgba(3,137,206,1) 39%, rgba(2,162,222,1) 54%, rgba(0,212,255,1) 100%);
        height: 100%;
        padding: 10px;
        border-radius: 20px;
        width: 100px;
        text-align: center;
        cursor: pointer;
    }
    input{
        padding: 10px;
        background: none;
        border: none;
        outline: none;
        color: white;
        &::placeholder{
            color: white;
        }
    }
}

.footer-cards{
    background-image: url("../images/group-9.png");
    background-size: contain;
    height: 50px;
    width: 300px;
    background-repeat: no-repeat;
    margin-left: 120px;
}


@media screen and (max-width: 390px){
    .app{
        h5,h1{
            text-align: center;
        }
        .content-container{
            .items-container{
                grid-template-columns: 1fr !important;
                width: unset !important;
                row-gap: 60px;
            }
        }

        .aboutus{
            .aboutus-container{
                grid-template-columns: 1fr;
                text-align: center;
            }
        }

        .footer{
            display: block;
            padding: 0px;

            .footer-newsletter{
                width: 80%;
                text-align: center;
                margin: 0 auto;
                margin-top: 10px;
                margin-bottom: 10px;
                .footer-newsletter-input{
                    width: 100%;

                    div{
                        margin-bottom: 0px;
                    }
                }
            }
            .footer-cards{
                margin: 0 auto;
            }
        }
    }
}